
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAttemptLabel">Create or edit a Attempt</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="attempt.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
            <input id="field_date" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="attempt.date" is-open="datePickerForDate.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="attempt.description"
                    ng-maxlength="500" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nbFail">NbFail</label>
            <input type="number" class="form-control" name="nbFail" id="field_nbFail"
                    ng-model="attempt.nbFail"
                    required min="0" />
            <div ng-show="editForm.nbFail.$invalid">
                <p class="help-block"
                    ng-show="editForm.nbFail.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nbFail.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.nbFail.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nbSuccess">NbSuccess</label>
            <input type="number" class="form-control" name="nbSuccess" id="field_nbSuccess"
                    ng-model="attempt.nbSuccess"
                    required min="0" />
            <div ng-show="editForm.nbSuccess.$invalid">
                <p class="help-block"
                    ng-show="editForm.nbSuccess.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nbSuccess.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.nbSuccess.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_route">route</label>
            <select class="form-control" id="field_route" name="route" ng-model="attempt.route" ng-options="route as route.id for route in routes track by route.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
